@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="container mt-5">
    <h1 class="display-4">Вітаємо у FoodPlanner</h1>
    <p class="lead">Цей застосунок допоможе вам планувати харчування для вашої родини.</p>
    <hr />
    <p>Скористайтеся меню для навігації по сайту.</p>
</div>